@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.detail-view-head-advanced-component {
    display: flex;
    margin: 0 auto 30px;
    max-width: 1285px;
    min-width: 920px;

    .detail-view-head-advanced-infos {
        padding-top: 6px;
        width: 710px;

        .detail-view-head-advanced-infos-wrapper {
            display: flex;
        }

        .detail-view-head-advanced-infos-left {
            display: flex;
            max-width: 230px;
            min-width: 150px;
        }

        .detail-view-head-advanced-infos-right {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }

        .detail-view-head-advanced-infos-right-item {
            text-align: right;
        }

        .info-item-headline {
            color: $color-text-lighter;
            font-size: 11px;
            text-transform: uppercase;

            .info-item-value {
            a {
                color: $color-primary;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        }

        .info-item-value {
            font-size: 18px;
            font-weight: 600;
            a {
                color: $color-primary;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        // .info-item-value,
        // .info-item-value a {
        //     color: $color-text;
        // }
        

        .info-item-sub-value,
        .info-item-value-details {
            font-size: 12px;
        }
    }

    .detail-view-head-advanced-actions {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        .icon-button-wrapper {
            width: 60px;
        }
    }
}