@import "../../../abstracts/_mixins";
@import "../../../abstracts/_variables";

.timetracking-edit-component-wrapper {
	.row {
		margin-bottom: 40px;

		&.no-margin-bottom {
			margin-bottom: 0;
		}
	}
	.timetracking-edit-customer {
		margin-top: 12px;
	}

	.timetracking-edit-type {
		margin-top: 12px;
	}

	.dateInput_label {
		margin-bottom: 4px;
	}

	.dateInput_input {
		border-color: $color-input-bar;
	}
}

//Design Changes
.timetracking-edit-component-wrapper {
	.wrapper-has-topbar-with-margin {
		padding: 21px;
		.time-tracking-title {
			margin: 0 0 20px 0;
		}
		.divider {
			height: 1px;
			border-top: 0.5px solid #c6c6c6;
			width: calc(100% + 42px);
			margin: 0px -21px 20px -21px;
		}
		.row {
			margin-bottom: 10px;
		}
	}
}
