@import "../../../abstracts/_mixins";
@import "../../../abstracts/_variables";

.global-search-modal-component {
	.modal-base-content {
		margin: 0 !important;
	}

	.global-search-input {
		display: flex;

		.icon-search {
			padding: 15px 10px 0 0;
			font-size: 20px;
			color: $color-text-disabled;

			&.active {
				color: $color-text;
			}
		}

		.text-input-component {
			width: 100%;
			font-size: 19px;

			input {
				padding: 0;
				border: 0 none;
			}

			.input_label {
				display: none;
			}
		}
	}

	.global-search-results {
		display: flex;
		height: 560px;
		margin-top: 5px;
		padding: 0 0 80px;
		border-top: 1px solid $color-line-light;

		.global-search-list {
			flex-grow: 1;
			flex-basis: 0;
			width: 100%;
			border-right: 1px solid $color-line-light;
			overflow: hidden;
			overflow-y: auto;

			.global-search-list-category {
				.global-search-list-headline {
					color: red;
					border: 1px solid;
					height: 25px;
					line-height: 25px;
					padding: 0px 25px;
					background: $color-dot-disabled;

					.icon {
						margin-right: 6px;
						font-size: 14px;
					}

					.global-search-list-headline-text {
						position: relative;
						top: -1px;
						font-size: 11px;
						text-transform: uppercase;
					}
				}

				.global-search-list-items {
					margin: 5px 0;

					.global-search-list-item {
						padding: 10px 25px;
						width: 100%;
						overflow: hidden;
						cursor: pointer;
						@include truncate-text();

						&:hover,
						&.active {
							background: $color-primary;
							color: $color-white;
						}

						.global-search-list-item-title {
							font-size: 13px;
						}

						.global-search-list-item-description {
							font-size: 12px;
						}
					}
				}
			}
		}

		.global-search-detail {
			flex-grow: 1.5;
			flex-basis: 0;
			width: 100%;

			.global-search-detail-content {
				padding: 28px 34px 12px;

				.global-search-detail-image {
					@include vendor-prefix("box-shadow", "0px 2px 8px 0px rgba(0, 0, 0, 0.2)");
					margin: 20px auto 0;
					width: 280px;
					height: 396px;
				}

				.global-search-detail-title {
					font-size: 21px;
					font-weight: 600;
				}

				.global-search-detail-description {
					margin-bottom: 16px;
					font-size: 13px;
				}

				.global-search-detail-item {
					display: flex;
					font-size: 13px;

					&.global-search-detail-item-address {
						margin-top: 20px;
					}

					.global-search-detail-item-label {
						width: 45%;
						font-weight: 600;
						line-height: 28px;
					}

					.global-search-detail-item-value {
						width: 55%;
						// text-align: right;
						line-height: 28px;
					}

					&.global-search-detail-item-vertical {
						display: block;
						margin-top: 20px;

						.global-search-detail-item-label {
							width: 100%;
						}

						.global-search-detail-item-value {
							width: 100%;
							text-align: left;
							line-height: 25px;
						}
					}

					&.global-search-detail-item-cp {
						margin-top: 20px;

						.global-search-detail-item-cp-content {
							margin-top: 20px;
						}

						.cp_circle {
							display: flex;
							justify-content: center;
							align-items: center;
							border: 3px solid $color-primary-light;
							border-radius: 50%;
							color: $color-primary-light;
							font-size: 24px;
							height: 70px;
							width: 70px;
							margin: 0px;
							text-transform: uppercase;
						}

						.global-search-detail-item-cp-details {
							display: flex;
							flex-direction: column;
							justify-content: center;

							.global-search-detail-item-label {
								width: 50%;
								line-height: 20px;
							}

							.global-search-detail-item-value {
								text-align: left;
								line-height: 20px;
							}
						}
					}
				}

				&.global-search-detail-customer {
					.global-search-detail-item-label {
						width: 30%;
					}

					.global-search-detail-item-value {
						width: 70%;
						text-align: left;
					}
				}
			}
		}
	}

	.global-search-no-results {
		height: 560px;
		margin-top: 5px;
		padding: 70px 0 0;
		text-align: center;
		border-top: 1px solid $color-line-light;

		.icon {
			line-height: 340px;
			font-size: 340px;
			color: $color-text-disabled;
		}

		.global-search-no-results-text {
			font-size: 19px;
		}
	}
}

.newsfeed-component {
	.global-search-no-results {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: 108px;
		gap: 20px;
		flex-direction: column;
	}
	z-index: 20000;
	.global-search-list-headline {
		padding-top: 8px;
		padding-bottom: 8px;
		border-top: 1px solid #c6c6c6;
		border-bottom: 1px solid #c6c6c6;
		background: #f1f8fb;
		font-size: 14px;
		font-weight: 900;
		color: #272d30;
		.global-search-list-headline-text {
			font-size: 14px;
			margin-left: 17px;
			text-transform: uppercase;
		}
	}
	.global-search-list-item {
		padding: 15px;
	}
	// .text-input-component {
	// 	border: 2px solid #c6c6c6;
	// 	width: 83%;
	// 	margin-left: 36px;
	// 	height: 35px;
	// 	margin-top: 23px;
	// 	display: flex;
	// 	border-radius: 4px;
	// 	gap: 4px;
	// 	margin-bottom: 24px;
	// 	.MuiSvgIcon-root {
	// 		margin-top: 5px;
	// 		color: #c6c6c6;
	// 		margin-left: 9px;
	// 	}
	// }

	// .text-input-component:focus-within {
	// 	border: 2px solid #00a353 !important;
	// }

	.input {
		border: 0px;
	}

	.global-search-input {
		display: flex;
		align-items: center;
		gap: 7px;
		margin-left: 27px;
		border: 2px solid #c6c6c6;
		height: 7%;
		margin-top: 14px;
		border-radius: 4px;
		width: 86%;
		margin-right: 27px;
		.MuiSvgIcon-root {
			color: #c6c6c6;
			margin-left: 7px;
		}
		.input {
			height: 89%;
		}
		.text-input-component {
			height: 82%;
			width: 93%;
			margin-bottom: 6px;
		}
	}
	.global-search-input:focus-within {
		border: 2px solid #00a353 !important;
	}

	.global-search-detail {
		display: none;
	}
	.global-search-results {
		height: 70%;
		overflow-y: scroll;
		margin-top: 24px;
		.search-result-heading {
			font-size: 14px;
			color: #888787;
			margin-bottom: 16px;
			margin-left: 24px;
		}
	}
	.global-search-results::-webkit-scrollbar {
		width: 10px;
	}
	.global-search-results::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
	}
	.global-search-results::-webkit-scrollbar-thumb {
		border-radius: 8px;
		// -webkit-box-shadow: inset 0 0 6px #00a353;
		background-color: #00a353;
	}

	.global-search-list-item {
		display: flex;
		gap: 5px;
		.MuiSvgIcon-root {
			margin-top: 0px;
		}
	}
	.icon {
		border: 1px solid #c6c6c6;
		border-radius: 64%;
		color: darkgray;
		width: 29px;
		padding-left: 8px;
		height: 31px;
		padding-top: 3px;
		padding-right: 23px;
	}

	.search-item-main {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #c6c6c6;
		padding-bottom: 12px;
		padding-top: 12px;
		.MuiSvgIcon-root {
			margin-right: 16px;
			margin-top: 12px;
			color: #888787;
		}
		.search-item-content {
			display: flex;
			flex-direction: column;
			font-size: 14px;
			margin-left: 8px;
			.global-search-list-item-description {
				color: #888787;
			}
			.global-search-list-item-title {
				margin-bottom: 8px;
			}
		}
	}
	.search-item-main:hover {
		background: #ecfcf4;
	}
	.search-heading {
		display: flex;
		justify-content: space-between;
		h5 {
			margin-left: 28px;
		}
		.MuiSvgIcon-root {
			margin-top: 21px;
			color: #00a353;
			margin-right: 20px;
		}
	}
}
