@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.settings-account-component {
	display: inline-flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 16px;
				border-radius: 8px;
				border: 1px solid #C6C6C6;
				background: #FFF;
	.update-email-link {
		text-align: right;
		margin-top: -12px;
		margin-bottom: 10px;
	}

	.button-save {
		margin-top: 20px;
	}

	.accountSettingsCompanyAddressInfo {
		margin: 10px 0 15px 0
	}

	.button-component-wrapper {
		text-align: right;
	}

	.settings-account-address-street {
		padding: 20px;
	}

	.settings-account-country-select {
		margin-top: 30px;
		padding-right: 6px;
	}
	.settings-mobile{
		padding-left: 0px;

	}
}
.settings-autofilled-Field-hidden {
	position: absolute;
	opacity: 0;
	z-index: -5;
}
.settings-account-wrapper {
	.plan-type-toggle {
		.radio_inputs {
			display: inline-block;
			flex-direction: row;
			align-items: center;
			padding: 16px;
			height: 49px;
			background: #FFFFFF;
			border: 1px solid $color-primary;
			margin-right: 15px;
		}
		.radio_label{
			color: $color-primary;
    		font-weight: 600;
		}
	}
	.plan-price-text {
		font-weight: 700;
		font-size: 30px;
		line-height: 53px;
	}
	.icon-check_circle::before {
		color: $color-secondary;
	}
	.active.icon-check_circle::before {
		color: $color-primary;
	}
	.text-next-payment{
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
		color: #272D30;
	}
	.text-start-date{
		float: left;
    	display: contents;
	}
	.text-end-date{
		float: right;
	}
}