@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.settings-changepassword-component {
    display: inline-flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 16px;
				border-radius: 8px;
				border: 1px solid #C6C6C6;
				background: #FFF;
    .new-password-input {
        margin-top: 20px;
        
        &.password-strength-visible {
            input {
                border-bottom: none !important;
            }
        }
    }

    .password-strength {
        position: relative;
    }

    .button-component-wrapper {
        text-align: right;
    }
}