@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.settings-changepassword-component {
    .new-password-input {
        margin-top: 20px;
        
        &.password-strength-visible {
            input {
                border-bottom: none !important;
            }
        }
    }

    .password-strength {
        position: relative;
    }

    .button-component-wrapper {
        text-align: right;
    }
}