@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.settings-deleteaccount-component {
    display: inline-flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 16px;
				border-radius: 8px;
				border: 1px solid #C6C6C6;
				background: #FFF;
    .deleteaccount-info {
        margin-bottom: 20px;
    }

    .button-component-wrapper {
        text-align: right;
    }

    .deleteaccount-reason {
        margin-top: 10px;
        font-size: 13px;
        color: $color-text-muted;
    }
}
.settings-accountmigration-component {
    display: none;
}