@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.settings-senderemail-component {
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #C6C6C6;
    background: #FFF;


    .sender-email-name-input,
    .sender-email-input {
        margin-bottom: 10px;
    }

    .button-component-wrapper {
        text-align: right;
    }
}