@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.settings-subscription-component {
	.account-impress-headline {
		margin-top: 30px;
	}

	.subscription-quota-bar {
		width: 100%;
		height: 15px;
		margin: 5px 0 15px 0;
		background: $color-bg-dark;

		.subscription-quota-used {
			height: 100%;
			background: $color-primary;
		}
	}

	.button-component-wrapper {
		text-align: right;
	}
}