@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.article-detail-wrapper {
	.low_stock_alert {
		color: red;
	}
	.tabs-container .tab-list {
		border-radius: 8px 8px 0 0 !important;
		background-color: #f5f5f5 !important;
	}

	.article-content {
		display: flex;

		&_heading {
			margin-bottom: 12px;
		}

		&_subheading {
			margin-bottom: 26px;
		}

		&_content {
			// display: flex;
			// border-bottom: 1px solid #dddd;
			// padding-bottom: 20px;
			&.row,
			&-divided.row {
				> :first-child {
					padding-right: 10px;
				}

				// > :nth-child(n+1) {
				// 	padding-right: 30px;
				// }

				> :nth-child(2) {
					padding-right: 20px;
				}
			}

			&-divided.row {
				> :nth-child(n + 2) {
					border-left: 1px solid $color-input-bar;
				}
			}
		}

		&_footer {
			border-top: 1px solid $color-input-bar;
			padding-top: 60px;
		}
	}

	.article-col {
		flex: 0 0 auto;
		padding-right: 0.1rem;
		padding-left: 0.5rem;
		flex-basis: 33.33333%;
		max-width: 50.33333%;
	}

	.article-image {
		padding-left: 13px;
		width: 259px;
		text-align: center;
		.upload-image {
			cursor: pointer;
			height: 28px;
			line-height: 28px;
			padding: 0 40px;
			border-radius: 30px;
			font-size: 13px;
			background: #0079b3;
			font-weight: 600;
			&:hover {
				background: #194b7c;
				background: lightgrey;
			}
		}
	}

	.article-inventory-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 15px;

		&_untracked {
			text-align: center;
			color: $color-text-muted;
			padding-top: 15px;
		}
	}
	// -----------------------------
	// detail view graph
	// -----------------------------
	.graph-cont {
		margin-top: 50px;

		.chart {
			height: 280px;
		}
	}

	// Article Notes

	.articleNotes {
		.htmlInput_controls {
			bottom: 0;
		}
	}

	// Article image

	.articleImageContainer {
		border-radius: 112px;
		border: 1px solid var(--grey-medium-dddddd, #ddd);
		background: url(<path-to-image>), lightgray 50% / cover no-repeat;
		width: 112px;
		height: 112px;
		flex-shrink: 0;

		img {
			width: 100%;
			max-height: 100%;
			border-radius: 112px;
			border: 1px solid var(--grey-medium-dddddd, #ddd);
			background: url(<path-to-image>), lightgray 50% / cover no-repeat;
			flex-shrink: 0;
		}
	}

	// Article History

	.articleHistory {
		&_container {
			display: block !important;
		}

		&_list {
			width: 100%;

			.list_row {
				padding-left: 5px;
				padding-right: 5px;

				&-canceled {
					.list_item:nth-child(4) {
						padding-right: 0px;
					}
				}
			}

			.list_info {
				padding-left: 5px;
				padding-right: 6px;
			}
		}
	}

	.selectize-full-width {
		.selectize-dropdown {
			width: 480px !important;
		}
	}

	.selectInput_label {
		width: 50%;
	}

	.article-history-list-head-content {
		position: relative;
		width: 100%;
		padding: 10px 0;
	}

	.list-component {
		.list-table {
			.list-table-cell {
				padding: 25px 0 !important;
				text-transform: capitalize !important;
			}
		}
	}

	.articleHistory_container {
		min-height: 400px;
		.article {
			.loader {
				position: relative;
				margin-top: 20%;
			}
		}
	}

	.article-history-list-pagination {
		text-align: center;
		padding: 50px 0 0 0;
	}

	.article-history-error {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.error-headline {
			margin-bottom: 20px;

			h1 {
				font-weight: 500;
				font-size: 20px;
			}
		}
	}

	.row-box-col {
		display: flex;
		gap: 15px;
	}
	.box-column {
		border-radius: 8px;
		background: var(--highlights-pale-blue-f-1-f-8-fb, #f1f8fb);
		display: flex;
		width: 137px;
		height: 142px;
		padding: 16px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		flex-shrink: 0;
	}
	.detail-wrap-column {
		border-radius: 10px;
		border: 1px solid var(--grey-dark-c-6-c-6-c-6, #c6c6c6);
		background: var(--font-colors-white-fffffff, #fff);
		margin-top: 24%;
	}
	.detail-wrap {
		border-radius: 10px;
		border: 1px solid var(--grey-dark-c-6-c-6-c-6, #c6c6c6);
		background: var(--font-colors-white-fffffff, #fff);
	}
	.coming-wrap {
		display: flex;
		height: 300px;
		padding: 14px 16px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		align-self: stretch;
	}
	.coming-wrap-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
	.detail-content {
		display: flex;
		height: 300px;
		padding: 14px 16px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		align-self: stretch;
	}
	.coming-wrap-innercontent {
		color: var(--font-colors-primary-272-d-30, #272d30);
		text-align: center;

		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}
	.detail-wrap-column {
		border-radius: 10px;
		border: 1px solid var(--grey-dark-c-6-c-6-c-6, #c6c6c6);
		background: var(--font-colors-white-fffffff, #fff);
	}
	.row-box-col {
		display: flex;
		gap: 15px;
	}

	.box-column {
		flex: 1;
		display: flex;
		width: 137px;
		height: 142px;
		padding: 16px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		flex-shrink: 0;
	}
	.SVGInline.background-image {
		border-radius: 24px;
		background: var(--font-colors-white-fffffff, #fff);
		display: flex;
		padding: 8px;
		justify-content: center;
		align-items: center;
	}
	//////////////////////////////////////////////////
	.detail-wrap-article {
		display: flex;
		width: 1120px;
		height: 770px;
		justify-content: center;
	}
	.getBlock1Content-wrap {
		display: flex;
		width: 291px;
		padding: 16px;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
	.article-row {
		display: flex;
		width: 291px;
		padding: 16px;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		border-radius: 8px;
	}
	.article-content-row {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
	.itemGroup-article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
	.article-row-wrap {
		display: flex;
		width: 291px;
		padding: 16px;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
	.itemGroup-articles {
		border-radius: 8px;
		background: var(--highlights-pale-blue-f-1-f-8-fb, #f1f8fb);
		display: flex;
		width: 259px;
		padding: 16px 0px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		padding: 30px;
	}
	.item-article {
		display: flex;
		width: 105px;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		flex-shrink: 0;
	}
	.notes-box {
		display: flex;
		width: 291px;
		padding: 16px;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}
	.SVGInline.background-image-price {
		border-radius: 24px;
		background: var(--green-medium-bef-9-dc, #bef9dc);
		padding: 8px;
		justify-content: center;
		align-items: center;
	}
	.SVGInline.background-image-price-red {
		border-radius: 24px;
		background: var(--highlights-pale-red-ffdcda, #ffdcda);
		padding: 8px;
		justify-content: center;
		align-items: center;
	}
	.item-content {
		display: flex;
		height: 62px;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		flex-shrink: 0;
	}

	.detail-information {
		display: inline-flex;
		padding: 16px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		height: 350px;
	}
	.detail-information-content {
		background: var(--grey-light-f-2-f-2-f-2, #f2f2f2);
		display: flex;
		height: 320px;
		padding: 14px 16px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		align-self: stretch;
		.article-detail-information-text {
			text-align: center;
		}
	}
	.content-information {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
	.sales-wrap {
		border-radius: 10px;
		border: 1.087px solid var(--grey-dark-c-6-c-6-c-6, #c6c6c6);
		background: var(--font-colors-white-fffffff, #fff);
		width: 780px;
		height: 422px;
		flex-shrink: 0;
	}
	.detail-history {
		width: 1070px;
		align-items: flex-start;
		gap: 52px;
		height: 100%;
	}

	.item_text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex: 1;
		max-width: 80%;
	}

	.detail-history {
		width: 1075px;
		height: 504px;
		justify-content: space-between;
		align-items: flex-start;
		flex-shrink: 0;
	}
}

//New design changes
.article-detail-wrapper {
	.wrapper-has-topbar-with-margin {
		width: calc(100% + 2px) !important;
	}
	margin-bottom: 12%;
}
