@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.dashboard-component-wrapper {
	margin-bottom: 80px;

	.col-gutter-right-10 {
		padding-right: 10px !important;
	}
	.box {
		padding: 40px;
		border-radius: 8px;

		&.small-padding {
			padding: 40px;
		}

		.row {
			div[class^="col-"] {
				padding: 0 17px;
			}
		}
	}

	.widgetContainer {
		.widget-subheadline {
			margin-top: 2px;
			font-size: 14px;
		}
	}

	.widgetContainer_halfPie {
		min-height: 508px;
	}

	.widgetError_icon {
		color: $color-text-placeholder;

		&-large {
			font-size: 10em;
		}

		&-small {
			font-size: 7em;
			@include rem(margin-top, 10);
		}
	}

	.dashboard-tab-input {
		width: 150px;
		float: right;
	}

	// .dashboard-quick-buttons {
	// 	height: 90px;
	// 	padding: 26px 0 26px 0 !important;
	// 	display: flex;

	// 	.box-header {
	// 		@include rem(padding-left, 40);
	// 		@include rem(padding-right, 45);
	// 		line-height: 38px;
	// 	}

	// 	.box-content {
	// 		display: flex;

	// 		.button-component-wrapper:not(:last-child) {
	// 			margin-right: 36px;

	// 			.button-rounded {
	// 				padding: 0 30px;
	// 			}
	// 		}

	// 		.referral-btn {
	// 			padding: 0 20px;
	// 			background: $color-secondary;

	// 			&:hover {
	// 				background: darken($color-secondary, 10%);
	// 			}

	// 			.icon-people {
	// 				font-size: 24px;
	// 				line-height: 32px;
	// 			}
	// 		}
	// 	}
	// }

	.small-stats-box {
		height: 163px;
		padding: 22px 0 18px 0 !important;

		&:first-of-type {
			margin-bottom: 30px;
		}

		.box-header {
			@include rem(padding-left, 40);
			@include rem(padding-right, 20);
			min-height: 35px;
			margin-bottom: 12px;

			.text-h5 {
				cursor: pointer;

				.icon-arr_right {
					font-size: 14px;
					line-height: 30px;
					margin-left: 2px;
				}
			}
		}

		.stats-label {
			font-size: 14px;
		}

		.box-content {
			display: flex;

			.left-content {
				position: relative;
				width: 51%;
				@include rem(margin-left, 40);
				@include rem(margin-right, 52);

				&:before {
					position: absolute;
					bottom: -3px;
					right: 0;
					width: 1px;
					height: 37px;
					background: #e2e2e2;
					content: " ";
				}

				.stats-value {
					margin-top: 7px;
					font-size: 24px;
					font-weight: 600;
					color: $color-primary;
					cursor: pointer;
				}
			}

			.right-content {
				.stats-value {
					margin-top: 4px;
					font-size: 27px;
					cursor: pointer;
				}
			}
		}
	}
	.invoice-quotation-small-stats-box {
		padding: 22px 0 18px 0 !important;
		height: 135px;
		margin-bottom: 10px;

		.box-header {
			@include rem(padding-left, 40);
			@include rem(padding-right, 20);
			@include rem(margin-bottom, 3px!important);
			min-height: 35px;
			margin-bottom: 12px;

			.text-h5 {
				cursor: pointer;

				.icon-arr_right {
					font-size: 14px;
					line-height: 30px;
					margin-left: 2px;
				}
			}
		}

		.stats-label {
			font-size: 14px;
		}

		.box-content {
			display: flex;

			.left-content {
				position: relative;
				width: 51%;
				@include rem(margin-left, 40);
				@include rem(margin-right, 52);

				&:before {
					position: absolute;
					bottom: -3px;
					right: 0;
					width: 1px;
					height: 37px;
					background: #e2e2e2;
					content: " ";
				}

				.stats-value {
					margin-top: 7px;
					font-size: 21px;
					font-weight: 600;
					color: $color-primary;
					cursor: pointer;
				}
			}

			.right-content {
				.stats-value {
					margin-top: 4px;
					font-size: 21px;
					cursor: pointer;
					font-weight: 500;
				}
			}
		}
	}

	.dashboard-chart-tab-card-container {
		.box {
			padding: 0 !important;
		}
	}
}

//New design changes
.box {
	box-shadow: none !important;
	border: 1px solid #c6c6c6;
	border-radius: 8px !important;
}

.head {
	border-radius: 8px 8px 0 0 !important;
	background-color: white !important;
	border-bottom: none !important;
	padding: 18px 20px 0px 20px !important;
}

.tab-list {
	border-radius: 8px 8px 0 0 !important;
	background-color: white !important;
}

.stacked-bar-chart {
	padding-bottom: 0 !important;
	margin-bottom: 10px !important;
}

.ct-chart-bar,
.ct-horizontal-bars {
	border-radius: 8px !important;
}

.stacked-bar-chart-card .box .body-content .row .amount-value {
	color: $color-primary !important;
	font-size: 14px !important;
}

.stacked-bar-chart-card .body-desc {
	margin-bottom: 0 !important;
}

.amount-text {
	color: #888787 !important;
}

.text-green {
	color: $color-primary !important;
}
.text-red {
	color: rgb(255, 94, 84) !important;
}

.amt-text-indicator-green {
	display: inline-block;
	border-radius: 3px;
	background-color: $color-primary !important;
	width: 11px;
	height: 11px;
}
.amt-text-indicator-red {
	display: inline-block;
	border-radius: 3px;
	background-color: rgb(255, 94, 84) !important;
	width: 11px;
	height: 11px;
	margin-right: 5px;
}

//tabs
.chart-card-tab-component .tabs .tab-list .tab.active p {
	color: $color-primary !important;
}

.chart-card-tab-component .tabs .tab-list .tab.active {
	border-bottom: 2px solid $color-primary !important;
}
