@import "../../abstracts/_variables";
@import "../../abstracts/_mixins";

$newsfeed-width: 465px;

.newsfeed-component {
	position: fixed;
	top: 0;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s 0.3s;

	@include breakpoint-lg {
		@include rem(left, $menu-width);
	}

	@include breakpoint-md {
		@include rem(left, $menu-small-width);

		&.first-item-unread {
			&:after {
				border-right-color: $color-primary-superlight;
			}
		}
	}

	&.visible {
		visibility: visible;
		transition: visibility 0s;

		&:after {
			opacity: 1;
			left: -7px;
		}

		.newsfeed-overlay {
			opacity: 0.15;
			visibility: visible;
			transition: visibility 0s, opacity 0.3s ease-out;
		}

		.newsfeed-items {
			width: $newsfeed-width;
			visibility: visible;
			transition: visibility 0s, width 0.3s ease-out;
			.ps__thumb-y {
				background: #00a353;
			}
		}
	}

	&:after {
		position: absolute;
		left: 0;
		@include triangle("left", 7, #ffffff);
		transform: scaleY(1.3);
		content: " ";
		z-index: 10001;
		opacity: 0;
		transition: all 0.3s;

		@include breakpoint-lg {
			@include rem(top, 67px);
		}

		@include breakpoint-md {
			@include rem(top, 121px);
		}
	}

	.newsfeed-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		background: #1a2028;
		z-index: 10000;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s 0.3s, opacity 0.3s ease-out;

		@include breakpoint-lg {
			@include rem(left, $menu-width);
		}

		@include breakpoint-md {
			@include rem(left, $menu-small-width);
		}
	}

	.newsfeed-items {
		position: fixed;
		top: 0;
		width: 0;
		height: 100%;
		background: #ffffff;
		@include rem(box-shadow, 20px 0px 40px -10px rgba(0, 0, 0, 0.1));
		overflow: hidden;
		z-index: 10001;
		visibility: hidden;
		transition: visibility 0s 0.3s, width 0.3s ease-out;

		@include breakpoint-lg {
			@include rem(left, $menu-width);
		}

		@include breakpoint-md {
			@include rem(left, $menu-small-width);

			.newsfeed-header {
				margin-top: 41px;

				div {
					line-height: 28px !important;
				}
			}
		}

		.newsfeed-close {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h4 {
				margin-left: 24px;
			}

			p {
				padding: 10px;
				margin-right: 14px;
				color: green;
				cursor: pointer;
				.MuiSvgIcon-root {
					margin-top: 7px;
				}
			}
		}

		.newsfeed-icon {
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.newsfeed-main {
			display: flex;
			padding-top: 24px;
			padding-bottom: 24px;
			border-bottom: 1px solid #c6c6c6;

			.icon {
				margin-left: 24px;
			}
			// ::-webkit-scrollbar-thumb {
			// 	background: red;
			// }
		}

		.newsfeed-expand {
			color: #888787;
		}
		.newsfeed-date-time {
			color: #c6c6c6;
			font-size: 12px;
		}

		.notification-accordion {
			box-shadow: 0 0 0;
			.MuiSvgIcon-root {
				color: #00a353;
			}
		}

		.sortNotification {
			display: flex;
			justify-content: flex-end;
			.sort-date {
				margin-left: 24px;
				margin-bottom: 25px;
				border: 1px;
				width: 128px;
				height: 31px;
				border-radius: 5px;
				border-style: solid;
				border-color: #c6c6c6;
				input {
					display: flex;
					gap: 8px;
					flex-direction: row-reverse;
				}
				input::-webkit-calendar-picker-indicator {
					background-image: url("/assets/images/icons/calender.svg");
				}
			}

			.notificationDropDown {
				margin-right: 20px;
				width: 100%;
				.MuiSvgIcon-root {
					color: #00a353;
				}
				.MuiSelect-select.MuiSelect-select {
					padding-right: 12px;
				}
			}
		}

		.newsfeed-header {
			&.large-top {
				// margin-top: 41px;
				margin-top: 0px;
			}

			div {
				height: 45px;
				line-height: 45px;
				padding-left: 25px;
				@include rem(font-size, 17px);
				font-weight: 600;
				white-space: nowrap;
			}
		}

		.newsfeed-item {
			position: relative;
			width: 100%;
			height: 85px;
			// border-bottom: 1px $color-bg-dark solid;
			transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
			cursor: pointer;

			&.unread,
			&:hover {
				border-color: #cbe0fa;
				background: $color-primary-superlight;

				.newsfeed-item-left {
					.icon:not(.icon-exclamation_mark2) {
						color: $color-primary;
						background: #ffffff;
					}

					.icon.icon-exclamation_mark2 {
						background: #ffffff;
					}
				}
			}

			.newsfeed-item-left {
				// position: absolute;
				// top: 0;
				// left: 0;
				// width: 100px;
				// height: 85px;
				height: 70px;
				display: flex;
				justify-content: center;
				align-items: center;
				@include rem(font-size, 13px);

				.icon {
					width: 45px;
					height: 45px;
					line-height: 45px;
					// margin: 20px 0 0 25px;
					text-align: center;
					border-radius: 50%;
					color: #8c9092;
					background: $color-bg-medium;
					transition: all 0.3s ease-out;

					&.icon-at {
						font-size: 18px;
						&:before {
							vertical-align: top;
						}
					}

					&.icon-check {
						font-size: 16px;
						&:before {
							vertical-align: top;
						}
					}

					&.icon-exclamation_mark2 {
						color: $color-secondary;
						font-size: 16px;
					}

					&.icon-small {
						&:before {
							position: relative;
							left: 1px;
						}
					}
				}
			}

			.newsfeed-item-middle {
				margin-right: 50px !important;
				position: absolute;
				top: 0;
				left: 100px;
				width: $newsfeed-width - 100px - 130px;
				height: 85px;

				.newsfeed-item-content {
					width: 100%;
					height: 68px;
					margin-top: 13px;
					line-height: 19px;
					@include rem(font-size, 13px);
					overflow: hidden;
				}
			}

			.newsfeed-item-right {
				position: absolute;
				top: 0;
				left: ($newsfeed-width - 130px);
				width: 130px;
				height: 85px;
				color: #c6c6c6;
				span {
					position: absolute;
					right: 20px;
					bottom: 15px;
					@include rem(font-size, 12px);
					color: $color-text-light;
				}
			}
		}
	}
}

.accordian-main {
	width: 100%;
	.accordian-head {
		display: flex;
		justify-content: space-between;
		padding-left: 24px;
		padding-right: 24px;

		.accordian-head-sub {
			display: flex;
			gap: 12px;
		}
		.accordian-date {
			color: #c6c6c6;
			font-size: 13px;
		}
	}
	.accordian-body {
		margin-top: 8px;
		padding-left: 24px;
		padding-right: 24px;
		margin-bottom: 8px;
	}
	.accordian-body-expanded {
		margin-top: 8px;
		padding-left: 24px;
		padding-right: 24px;
		margin-bottom: 8px;
	}
	.accordian-button {
		display: flex;
		gap: 12px;
		padding-left: 24px;
		padding-right: 24px;
	}
	.accordian-icon {
		color: #00a353;
	}
	span {
		margin-right: 35px;
	}
}
