@import "../../abstracts/_variables";
@import "../../abstracts/_mixins";

.notes {	
	pre {
		overflow: visible;
	}
	
	&_empty {
		color: silver;
	}
	
	&_actions {
		position: absolute;
		top: 0;
		right: 0;
	}

	&_heading {
		margin-bottom: 12px;
	}

	&_content {
		&.row > :first-child {
		word-wrap: break-word;
		padding-right: 8px;
		border: 1px solid var(--grey-dark-c-6-c-6-c-6, #C6C6C6);
		background: var(--font-colors-white-fffffff, #FFF);
		}
	}
	
	& .form {
		position: relative;
		margin: 7px -9px;
	}
	
	&Edit {
		.switchInput {
			position: relative;
			padding: 5px 0 10px;
	
			.notes-alert-label {
				font-size: 14px;
				color: $color-text-muted;
			}
	
			.customer-edit-notes-alert-toggle {
				position: absolute;
				width: 90px;
				top: 0;
				right: 0;
			}
		}
		
		&_content {
			position: relative;
		}
		
		&_controls {
			position: absolute;
			display: flex;
			right: 0;
			z-index: 10;
			bottom: -32px;

			.button:first-of-type {
				margin-right: 6px;
			}
		}
	}
}
