@import "../../abstracts/_variables";
@import "../../abstracts/_mixins";

.password-validity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .password-validity-check {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid $color-input-bar;

        &.checked {
            border: 1px solid $color-primary;
            background: $color-primary;
        }

        &.alert {
            border: 1px solid $color-error;
            background: $color-error;
        }

        .icon {
            color: $color-white;
            font-size: 8px;
            line-height: 16px;
            margin-left: 1px;
        }
    }
}