@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.recurring-invoice-settings {
	& > .row {
		padding: 0 0 40px;

		.recurring-invoice-settings-headline {
			font-size: 21px;
			font-weight: 600;
		}

		.recurring-invoice-settings-description {
			margin-top: 12px;
			color: $color-text-light;
			font-size: 11px;
			line-height: 18px;
		}
	}

	.recurring-invoice-settings-left-wrapper {
		position: relative;

		.recurring-invoice-settings-left {
			position: absolute;
			padding-right: 32px;
			top: 50%;
			@include vendor-prefix("transform", "translateY(-50%)");
		}
	}

	// .recurring-invoice-form {
	// 	padding-left: 32px;
	// 	border-left: 1px solid $color-line-light;
	// }

	.selectInput {
		margin-top: 10px;

		.selectInput_label {
			top: -45px;
			color: $color-text-muted;
		}

		.Select-value {
			line-height: 45px;
		}

		.selectInput_bar {
			&:after,
			&:before {
				height: 1px;
			}
		}
	}

	.recurring-invoice-settings-email {
		margin-top: 20px;

		.input_error {
			position: absolute;
			left: 0;
			top: 50px;
		}
	}

	.recurring-invoice-settings-advanced {
		.row {
			margin-top: 20px;
		}
	}

	.recurring-invoice-settings-toggle {
		text-align: right;
		font-size: 13px;
		color: $color-primary;
		cursor: pointer;
	}
}

//Design changes
.recurring-invoice-settings {
	width: 1000px !important;
	.Select-value {
		padding-left: 0;
	}
	padding: 0;
	.row {
		padding: 0;
	}
	.recurring-invoice-form {
		margin: 0;
		padding: 0 40px 40px 40px;
		.Select-value {
			padding-left: 0;
		}
	}

	.recurring-invoice-settings-left {
		padding: 20px 36px;
		border-bottom: 1px solid #c6c6c6;
	}

	.recurring-invoice-settings-email {
		margin-top: 0;
		.input {
			height: 45px;
		}
	}

	.htmlInput_input {
		border-radius: 4px;
		padding: 12px;
	}

	.checkbox_label {
		color: #888787;
	}
}
