@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.transaction-edit-component-wrapper {
	.transaction-edit-wrapper {
		.box {
			position: relative;
			width: 925px;
			margin: 0 auto 20px;
		}

		.recurring-invoice-settings {
			margin: 0 auto 40px;
		}

		.transaction-notes {
			// display: flex;
			padding: 45px 65px;

			.transaction-notes-description {
				width: 100%;
				padding: 0 5px;
				margin: auto 10px auto 0;
			}

			.transaction-notes-headline {
				margin-bottom: 15px;
				font-size: 25px;
				font-weight: 600;
			}

			.transaction-notes-subheadline {
				font-size: 11px;
				color: $color-text-light;
				padding-bottom: 10px;
			}

			.transaction-notes-input {
				width: 100%;
			}

			.htmlInput_input {
				padding: 36px;
			}

			.ql-editor {
				min-height: 100px;
				font-size: 14px;

				&:before {
					left: 0;
					right: 0;
				}

				&.ql-blank:before {
					color: $color-text-placeholder;
				}
			}
		}

		.transaction-form-page {
			padding: 30px 100px 10px;

			.recipientFormCompany-address {
				padding-top: 10px;
			}

			.recipientForm-mobile {
				margin-top: -13px;

				&.existing {
					margin-top: 7px;
				}
			}

			.recipient-form--address-street {
				padding: 20px;
			}

			.transaction-form-row {
				display: flex;
				flex: 0 1 auto;
				flex-direction: row;
				flex-wrap: wrap;
			}

			.transaction-form-sender {
				width: 430px;
				height: 24px;
				padding: 10px 0 0;
				color: $color-text-light;
			}

			.transaction-form-recipient-title {
				padding: 0 7.5px;
				margin: 0 0 0 -7.5px;

				.recipientContainer {
					min-height: 180px;
					font-size: 14px;

					.empty-customer-detail {
						display: none;
					}

					.recipientEmpty {
						font-size: 15px;

						.recipientEmpty_label {
							padding-left: 10px;
						}
						.icon {
							&.icon-rounded {
								width: 22px !important;
								height: 22px !important;
								&:before {
									font-size: 10px;
								}
							}
						}
					}
				}
			}

			.transaction-form-meta {
				margin: 10px -7.5px 0 0;
				padding: 0 7.5px;
			}

			.transaction-form-title {
				position: relative;
				width: 100%;
				margin-bottom: 8px;

				.letter-title-component-wrapper {
					&:hover:before {
						margin-top: -5px;
						margin-bottom: -3px;
					}
					&:hover {
						.edit-icon {
							@include icon(after, edit);
							position: absolute;
							height: 5px;
							z-index: 11;
							color: $color-text-light;
							top: -2px;
							right: -5px;
						}
					}
				}

				.input {
					letter-spacing: -1px;
					font-size: 27px !important;
					font-weight: 400;
					padding: 0;
					border-bottom: none;
					border: none;
				}

				.input_label {
					display: none;
				}

				.input_bar {
					&:before {
						height: 1px;
						background: #e7e7e7 !important;
					}
					&:after {
						height: 1px;
						background: #e7e7e7 !important;
					}
				}
			}

			.transaction-form-textarea {
				color: $color-text-light;

				.ql-container {
					font-size: 14px;
				}

				.htmlInput_bar {
					&:before {
						height: 0;
					}
					&:after {
						height: 0;
					}
				}
				&:hover {
					.edit-icon {
						@include icon(after, edit);
						position: absolute;
						height: 5px;
						z-index: 11;
						color: $color-text-light;
						top: -8px;
						right: -5px;
					}
				}
			}

			.transaction-form-positions {
				margin-top: 32px;
				min-height: 260px;
			}

			.transaction-form-payment-total {
				display: flex;
				justify-content: space-between;
				.transaction-form-total {
					margin-bottom: 40x;
				}
			}

			.transaction-no-delivery-date {
				margin-top: 20px;
				font-size: 14px;
				color: $color-text-light;
			}

			.transaction-form-pay-conditions {
				margin: 20px 0 15px;
			}

			.transaction-form-smallbusiness {
				margin: 20px 0 15px;
				font-size: 14px;
				color: $color-text-light;
			}

			.transaction-invoiz-pay {
				margin: 20px 0;
				font-size: 14px;
				color: $color-text-light;
			}

			.transaction-form-footer {
				margin: 40px 0 25px;
			}
		}

		.transaction-invoiz-page {
			height: 1128px;

			.invoiz-page-elements {
				position: relative;
				cursor: pointer;

				&:not(.disabled):hover {
					&:hover {
						&::before {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: -10px;
							pointer-events: none;
							border: 1px dashed #aaa;
							border-radius: 5px;
							z-index: 10;
							content: "";
						}
					}
				}

				.carrier {
					position: relative;
					width: 100%;
					margin: 0 0 30px;
					padding-bottom: 30px;
					border-bottom: 1px solid #e3e3e3;

					&.disabled {
						opacity: 0.25;
					}
				}

				.icon-edit {
					position: absolute;
					top: 5px;
					right: 5px;
					color: $color-primary;
				}

				.carrier img {
					width: 580px;
					height: 416px;
				}

				.carrier-name,
				.carrier-iban,
				.carrier-bic,
				.carrier-amount,
				.carrier-purpose {
					position: absolute;
					top: 78px;
					left: 36px;
					font-size: 13px;
					letter-spacing: 5px;
					font-weight: 800;
				}

				.carrier-name,
				.carrier-iban,
				.carrier-bic {
					text-transform: uppercase;
				}

				.carrier-iban {
					top: 113px;
				}

				.carrier-bic {
					top: 146px;
				}

				.carrier-amount {
					top: 178px;
					left: 326px;
				}

				.carrier-purpose {
					top: 212px;
				}

				.invoiz-page-footer {
					&.disabled {
						.headline,
						.sub-headline {
							opacity: 0.25;
						}
					}
				}

				.headline {
					margin: 0 0 15px;
					font-size: 18px;
					font-weight: 600;
				}

				.sub-headline {
					margin: 0 0 35px;
					font-size: 14px;
					color: $color-text-light;
				}

				.link {
					color: $color-primary;
					font-weight: 600;
				}

				.qr-codes-wrapper {
					margin-top: 10px;
					display: flex;
					flex-wrap: wrap;
				}

				.qr-code-paypal,
				.qr-code-girocode {
					position: relative;
					width: 50%;

					&.disabled {
						opacity: 0.25;
					}
				}

				.qr-code-paypal > img,
				.qr-code-girocode > img {
					margin-bottom: 30px;
				}

				.qr-code-logo {
					position: relative;
					margin-right: 20px;
					height: auto;
					font-size: 13px;
					line-height: 1.5;
					color: $color-text-light;
					word-break: break-all;
				}

				.qr-code-logo > img {
					margin: 15px 0 8px;
				}
			}
		}
		.transaction-positions-totalInWords {
			font-size: 13px;
			color: #656768;
			margin: 20px 0 0px;
			font-weight: bold;
		}
	}
}
.street-div {
	overflow-wrap: break-word;
	white-space: pre-line;
}

//Design changes:-

.transaction-edit-component-wrapper {
	.transaction-edit-wrapper {
		.headerContainer {
			.headerEmpty {
				height: 100% !important;
			}
		}

		.box {
			width: 950px;
		}
		.transaction-form-page {
			padding: 40px;
		}
	}

	.letter-headerEmpty_title {
		background-color: #f2f2f2;
		.row1 {
			font-weight: 600;
			font-size: 16px;
			margin: 0 0 15px 0;
		}
		.row2 {
			text-transform: none;
			font-weight: 400;
			font-size: 12px;
			margin: 0 0 15px 0;
			color: #272d30;
		}
		.row3 {
			display: flex;
			justify-content: space-between;
			.or-div {
				font-size: 14px;
				font-weight: 500;
				color: #888787;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 20px;
			}
			.btn1,
			.btn2 {
				padding: 15px 70px;
				span {
					font-size: 14px;
					font-weight: 600;
				}
				border: 1px solid #c6c6c6;
				border-radius: 4px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.btn1-subname {
				color: #888787;
				font-weight: 500;
				font-size: 14px;
			}
		}
	}

	.transaction-form-sender {
		margin-top: 10px;
		.ql-editor {
			p {
				font-weight: 600;
				font-size: 14px;
				color: #272d30;
			}
		}
	}

	.transaction-form-row {
		justify-content: space-between;
		.recipientContainer {
			.recipientDisplay {
				width: 220px;
			}
			.billed-to-name {
				color: $color-primary;
				font-weight: 600;
				font-size: 14px;
			}
			.billed-to-address,
			.gstno-container,
			.cinno-container,
			.phone-no-container {
				margin-top: 10px !important;
			}
			.address-label,
			.gst-label,
			.cin-label,
			.phone-label {
				font-weight: 600;
				color: #888787;
			}
		}
		// tranasction form meta
		.transaction-form-meta {
			.letter-meta-display {
				width: 310px;
				.letter-meta-display-row {
					margin-bottom: 4px;
				}
			}
			.letter-meta-display-label {
				color: #888787;
			}
			.document_info-action {
				box-shadow: none;
			}
			.document_info-action:before {
				font-size: 14px;
				margin-left: 5px;
			}
		}
	}

	.transaction-form-title {
		margin-top: 15px;
	}
	.letter-title-component-wrapper {
		input {
			font-weight: 600 !important;
		}
	}

	.letter-positions-head-component-wrapper {
		height: 60px;
		border-bottom: 1px solid #dddddd;
		.letter-positions-head {
			border-bottom: none;
			padding: 20px 75px 20px 41px;
			font-size: 13px !important;
			font-weight: 600 !important;
			div:nth-of-type(n + 2) {
				border-left: 1px solid #c6c6c6;
			}
			.letter-positions-head-column {
				text-transform: uppercase !important;
				// margin: 0 !important;
				// padding: 0 !important;
			}

			.letter-positions-head-column-hsnSacCode {
				flex-basis: 110px !important;
				padding-left: 10px;
			}
			.letter-positions-head-column-amount {
				max-width: 121px !important;
			}
			.letter-positions-head-column-vat {
				width: 70px !important;
			}
			.letter-positions-head-column-price {
				width: 115px !important;
			}
			.letter-positions-head-column-discount {
				width: 90px !important;
			}
			.letter-positions-head-column-total {
				width: 80px !important;
			}
		}

		background-color: #f1f8fb !important;
		color: #888787 !important;
	}

	.letter-positions-component-wrapper {
		.letter-positions-item {
			padding: 0 72px 0 50px !important;
		}
	}

	.transaction-form-positions {
		border: 1px solid #c6c6c6 !important;
		min-height: 120px !important;

		.letter-positions-add-position {
			padding: 0 0 0 14px;
			margin: 14px 0;
			.letter-positions-add-position-button {
				margin: 0 0 0 0;
			}
		}
		.letter-positions-item:nth-child(odd) {
			.inline {
				.input {
					background-color: white;
				}
			}
		}
		.letter-positions-item,
		.Select-control {
			background-color: white;
		}

		.letter-positions-item {
			// .letter-positions-item-column-amount {
			// 	max-width: 139px;
			// }
			.Select-multi-value-wrapper {
				.Select-value {
					padding-right: 25px;
				}
			}
			.document_info-action {
				box-shadow: none;
			}
			.document_info-action:before {
				font-size: 16px;
				margin-right: 8px;
			}
		}
	}
	.letter-positions-total-component {
		margin-top: 20px;
		.letter-positions-total-content {
			padding: 0px 0px 20px 0px;

			.letter-positions-radio {
				border: 1px solid #dddddd;
				display: flex;
				.total-option {
					cursor: pointer;
					height: 30px;
					width: 50%;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.total-active {
					background-color: #ecfcf4;
					color: #272d30;
					font-weight: 700;
				}
			}

			.column-left {
				min-width: 180px;
				font-weight: 600;
				color: #888787;
			}
			.letter-positions-total,
			.letter-positions-vat {
				margin-bottom: 4px;
			}
			&:after {
				border-color: #c6c6c6;
				bottom: 50px;
				border-width: 1px 0;
			}
			.last-letter-positions-total-container {
				margin-top: 12px;
				color: #272d30;
				.column-left {
					font-weight: 700;
					color: #272d30;
				}
			}
		}
	}
}

.vertically-middle {
	vertical-align: middle;
}
.seperator-hyphen {
	margin: 0 10px;
}
