@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.cancellation-invoice-detail-wrapper {

	.detail-view-document {
		margin: -425px auto 0;
	}

	.detail-view-head-controls {
		top: 95px;
	}

	.detail-view-head-controls {
		.detail-view-head-controls-item.item-print {
			margin-right: 2px;

			.icon {
				pointer-events: none;
			}
		}

		.detail-view-head-controls-item.item-print-settings {
			line-height: 17px;

			.icon {
				color: $color-text-muted;
			}
		}
	}
	.detail-view-box {
	margin-top: -422px;
	height:250px;
	}
	.icon-pdf {
		color: green;
	}
	.detail-view-head-advanced-infos-right {
		margin-right: -200px;
	}
	
	.detail-view-head-container {
		height:550px;
	}
	a:visited, a:focus, a:hover, a:active {
		color: #00A353;
	}
	.detail-view-head-advanced-component .detail-view-head-advanced-infos .info-item-value, .detail-view-head-advanced-component .detail-view-head-advanced-infos .info-item-value a {
		color:green;
	}
	.detail-view-head-advanced-actions{
		margin-right: -120px;
	}
}



