@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

// .invoice-view-filter .icon {
// 	cursor: pointer;
// 	font-size: 13px;
// 	padding-top: 3px;

// 	&:hover {
// 		color: $color-primary;
// 	}
// }

.cancellation-invoice-detail-wrapper {
	max-width: 1250px;
	margin: 0 auto;
	position: relative;
}

.cancellation-list-component-wrapper {
	.cancellation-list-wrapper {
	}
}

.alignLeftCredit {
	position: absolute;
	left: 220px;
	right: 32px;
}

.alignLeftDebit {
	// position: relative;
	left: 95px;
}
