@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.cancellation-invoice-detail-wrapper {

	.detail-view-document {
		margin: -425px auto 0;
	}

	.detail-view-head-controls {
		top: 95px;
	}

	.detail-view-head-controls {
		.detail-view-head-controls-item.item-print {
			margin-right: 2px;

			.icon {
				pointer-events: none;
			}
		}

		.detail-view-head-controls-item.item-print-settings {
			line-height: 17px;

			.icon {
				color: $color-text-muted;
			}
		}
	}

}



