@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.recurring-invoice-detail-wrapper {
	.detail-view-document {
		margin: -100px auto 0;
	}

	// .detail-view-head-controls {
	// 	top: 95px;
	// }

	.detail-view-head-container {
		height: 250px;
	}

	.detail-view-head-wrapper {
		position: relative;
		max-width: 1325px;
		min-width: 960px;
		margin: 10px auto 0;
		padding: 0 20px;
		width: unset;

		.detail-view-head-infos {
			display: inline-table;
			width: 70%;
		}
		.detail-view-head-controls {
			width: 29%;
			float: right;
			position: unset;
			.detail-view-head-controls-item {
				float: right;
			}
		}
	}

	.recurring-invoice-detail-recipient-wrapper {
		// position: relative;
		// width: 925px;
		// margin: 0 auto;
		// top: 57px;
		position: relative;
		margin: 0 auto;
		top: 30px;
		margin-right: 22px;

		.recurring-invoice-detail-recipient {
			position: absolute;
			top: 0;
			// right: 0;
			right: 142px;
			font-size: 14px;

			span {
				font-weight: 600;
			}
			.icon-mail {
				margin-right: 5px;
				color: $color-primary;
			}
		}
	}
}

.alignRecurringLeft {
	left: 271px;
	position: absolute;
	right: 32px;
	margin-top: -21px;
}
