@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.recurring-invoice-detail-wrapper {
	.detail-view-document {
		margin: -100px auto 0;
	}

	// .detail-view-head-controls {
	// 	top: 95px;
	// }

	.detail-view-head-container {
		height: 250px;
	}

	.detail-view-head-wrapper {
		position: relative;
		max-width: 1325px;
		min-width: 960px;
		margin: 10px auto 0;
		padding: 0 20px;
		width: unset;

		.detail-view-head-infos {
			display: inline-table;
			width: 70%;
		}
		.detail-view-head-controls {
			width: 29%;
			float: right;
			position: unset;
			.detail-view-head-controls-item {
				float: right;
			}
		}
	}

	.recurring-invoice-detail-recipient-wrapper {
		// position: relative;
		// width: 925px;
		// margin: 0 auto;
		// top: 57px;
		position: relative;
		margin: 0 auto;
		top: 30px;
		margin-right: 22px;

		.recurring-invoice-detail-recipient {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 14px;

			span {
				font-weight: 600;
			}
			.icon-mail {
				margin-right: 5px;
				color: $color-primary;
			}
		}
	}
}

// Design changes

.recurring-invoice-detail-wrapper {
	.detail-view-head-container {
		height: 100px;
		padding-top: 10px;
		.detail-view-head-wrapper {
			.detail-view-head-infos {
				display: none;
			}
			.detail-view-head-controls {
				width: 658px;
				float: unset;
				.detail-view-head-controls-item {
					border: 1px solid #c6c6c6;
					background-color: white;
					padding: 9px 12px;
					border-radius: 4px;
					margin-right: 10px;
				}
			}
		}
		.recurring-invoice-detail-recipient-wrapper {
			display: none;
		}
	}
	.detail-view-content-wrapper {
		.detail-view-content-left {
			width: 100%;
			max-width: 658px !important;
			margin-right: 16px;
			.detail-view-box-new {
				width: 658px;
			}
		}
		.detail-view-content-right {
			margin-top: 20px;
			.invoice-info {
				background-color: #fff;
				// height: 100%;
				width: 100%;
				border-radius: 8px;
				border: 1px solid #c6c6c6;
				margin-bottom: 16px;
				.sub-ended {
					color: #d94339;
				}
				.invoice-info-label {
					color: #888787;
					font-weight: 600;
				}
				.invoice-amount {
					margin: 10px 0;
				}
				.customer-name-container,
				.date-of-invoice-container {
					display: flex;
					justify-content: space-between;
					font-weight: 600;
				}
				.invoice-info-item {
					margin-bottom: 4px;
				}
				.customer-name-container {
					margin-bottom: 4px;
					.customer-name {
						a {
							color: $color-primary;
						}
					}
				}
				.date-of-invoice-container {
					.date-of-invoice {
						color: #888787;
					}
				}
			}
		}
	}
}
