.drop-down-opt:hover {
	background-color: #ebfff5;
}
.Select-placeholder {
	padding-left: 0px !important;
}
.Select-input {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.Select-value {
	padding-left: 0 !important;
}

// .input {
// 	padding-top: 0 !important;
// 	height: 36px !important;
// }
