.drop-down-opt:hover {
	background-color: #ebfff5;
}
.money-in-modal-container {
	.Select-placeholder {
		padding-left: 0px !important;
	}
	.Select-input {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.Select-value {
		padding-left: 0 !important;
	}
}
.money-out-modal-container {
	.Select-placeholder {
		padding-left: 0px !important;
	}
	.Select-input {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.Select-value {
		padding-left: 0 !important;
	}
}
