@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixins";

.settings-text-modules-component {
    .text-input-component {
        &.box-border {
            padding-top: 21px;
        }
    }

    .left-center-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 600;
    }
}
