.profit-loss-component-wrapper {
	height: 1186px;
	// width: 1120px;
	width: 93%;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: 600;
	border-radius: 8px;
	margin-top: 81px;
	.general-ledger-component {
		margin-top: 20px;
		margin-left: 20px;
		flex-direction: column;
		padding: 0px 24px 0px 24px;
		justify-content: space-between;
		.time-period-select-container {
			display: flex;
			justify-content: space-between;
			margin-left: -43px;
			.time-period-select {
				flex: 1.5;
				display: flex;
				align-items: center;
				.date-selector {
					position: relative;
					width: 100%;
					flex: 1;
				}
			}
		}
		.utility-icons-wrapper {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 0px 16px 0px 16px;
			height: 32px;
			position: relative;
			border-radius: 4px;
			gap: 16px;
			.utility-icons {
				border: 1px solid #ccc;
				padding: 10px;
				display: flex;
				align-items: center;
				position: relative;
				border-radius: 4px;
				margin-top: -70px;
				.icon-mail {
					display: flex;
					align-items: center;
					cursor: pointer;
					height: 18px;
					margin-right: 20px;
					.pdf_mail {
						display: inline-block;
						font-size: 16px;
						width: 1em;
						height: 1em;
					}
					.icon-text {
						margin-left: -5px;
						margin-bottom: 3px;
					}
				}
				.icon-separtor-first {
					border-left: 1px solid #ccc;
					height: 100%;
					position: absolute;
					// left: 44%;
					left: 38%;
					top: 0;
					bottom: 0;
					transform: translate(-50%);
				}
				.icon-print2 {
					display: flex;
					align-items: center;
					cursor: pointer;
					height: 18px;
					margin-right: 20px;
					// margin-left: 5px;
					margin-left: 31px;
					.pdf_print {
						display: inline-block;
						font-size: 16px;
						width: 1em;
						height: 1em;
					}
					.icon-text {
						margin-left: -5px;
						margin-bottom: 3px;
					}
				}
				.icon-separtor-second {
					border-left: 1px solid #ccc;
					height: 100%;
					position: absolute;
					// left: 70%;
					left: 69%;
					top: 0;
					bottom: 0;
					transform: translate(-50%);
				}
				.icon-download {
					display: flex;
					align-items: center;
					cursor: pointer;
					height: 18px;
					.download {
						display: inline-block;
						font-size: 16px;
						width: 1em;
						height: 1em;
					}
					.icon-text {
						margin-left: -5px;
						margin-bottom: 3px;
					}
					.export-btn-popup {
						.popover-wrapper {
							top: 170.4px !important;
							right: 191.7625px !important;
							.Export-dropdown-content {
								.popover-entry {
									color: #888787;
								}
								.popover-entry:hover {
									color: #272d30;
									background: #ecfcf4;
								}
							}
						}
					}
				}
			}
		}
	}
	.general-heading {
		margin-left: 20px;
		margin-bottom: 30px;
	}
	.table-container {
		.currency-container {
			width: 100%;
			text-align: right;
		}
		.netProfit {
			display: flex;
			justify-content: space-between;
			background: #ecfcf4;
			height: 56px;
			padding: 17px;
			.netProfit-name {
				width: 33%;
			}
			.netProfit-value {
				// width: 170px;
				width: 33%;
				display: flex;
			}
		}
		.Total-container {
			border-bottom: 1px solid #ddd;
			border-top: 1px solid #ddd;
			.Total {
				font-weight: initial;
				padding: 15px 16px 26px;
				// margin-left: 10px;
				// background: #ecfcf4;
				padding-left: 15px;
				display: flex;
				justify-content: space-between;
				.totalName {
					width: 33%;
				}
				.totalValue {
					width: 33%;
					text-align: right;
					display: flex;
				}
			}
		}
		.MuiTypography-body1 {
			margin-left: 10px;
			font-weight: bold;
		}
		.profit-loss-table-header {
			border-bottom: 1px solid #ddd;
			border-top: 1px solid #ddd;
			display: flex;
			justify-content: space-between;
			color: #888787;
			background: #f0f8fb;
			padding-bottom: 10px;
			.headingLeft {
				margin-left: 24px;
				width: 33%;
			}
			.headingRight {
				// margin-right: 179px;
				border-left: 1px solid #c6c6c6;
				padding-left: 8px;
				width: 33%;
			}
			.headingMiddle {
				border-left: 1px solid #c6c6c6;
				padding-left: 8px;
				width: 33%;
			}
		}
		.MuiDivider-root {
			margin-top: -10px;
		}
		.MuiAccordion-root {
			&.Mui-expanded {
				margin: 0px 0px;
				&::before {
					opacity: 1;
				}
			}
		}
		.MuiButtonBase-root {
			&.MuiAccordionSummary-root {
				&.Mui-expanded {
					border-bottom: 1px solid #ddd;
				}
			}
		}
		.MuiAccordionDetails-root {
			display: block;
			// margin-top: -20px;
			padding: 0px 0px 0px;
			.balance-sheet-accordian-details {
				display: flex;
				flex-direction: column;
				.accordian-details-row-entry {
					border-bottom: 1px solid #ddd;
					font-weight: initial;
					padding: 20px 16px 30px;
					display: flex;
					justify-content: space-between;
					.accordian-detail-total {
						width: 33%;
						display: flex;
					}
					.accordian-detail-name {
						margin-left: 10px;
						// width: 170px;
						width: 33%;
					}
					.account-code {
						width: 33%;
						padding-left: 20px;
					}
				}
			}
		}
	}
}

.leftAlignProfitAndLoss {
	left: 163px;
	position: relative;
	width: 83%;
	&.profit-loss-component-wrapper {
		.general-ledger-component {
			.utility-icons-wrapper {
				.utility-icons {
					.icon-download {
						.export-btn-popup {
							.popover-wrapper {
								top: 168.4px !important;
								right: 171.7625px !important;
							}
						}
					}
				}
			}
		}
	}
}
