@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.start-groflex-templates-component-wrapper {
	.down-arrow-icon {
		height: 5px;
		width: 10px;
		margin: 0 10px;

		&.inverted {
			transform: rotate(90deg);
		}
	}

	.start-groflex-templates-wrapper {
		// width: 85%;
		// width: 925px;
		max-width: 1050px;
		margin: 0 auto;
		padding-bottom: 15px;
		overflow: auto;
		padding-top: 18px;

		.col-xs-12 {
			padding-right: 0.2rem !important;
			padding-left: 0.2rem !important;
		}
	}
	.general-template-upper-div {
		// width: 85%;
		max-width: 1050px;
		margin: 0 auto;
		padding-bottom: 15px;
		overflow: auto;
		padding-right: 0.2rem !important;
		padding-left: 0.2rem !important;
	}

	.onboarding-steps-wrapper {
		max-width: 1050px;
		margin: 0 auto;
		// padding-bottom: 15px;
		overflow: auto;

		.onBoarding-wrapper {
			margin: 50px 22px 40px;

			.onboarding-header-image {
				width: 120px;
				height: 120px;
				background: url(../assets/images/amit.png) no-repeat top center;
				background-size: cover;
				border-radius: 50%;
				overflow: hidden;
				display: inline-block;
			}
			.onboarding-header1 {
				margin-top: 22px;
				margin-bottom: 10px;
				text-align: center;
				font-size: 25px;
			}
			.onboarding-header2 {
				padding: 0;
				text-align: center;
				margin-bottom: 25px;
				line-height: 28px;
			}
		}

		.steps-wrapper {
			padding-bottom: 25px;
			.step {
				display: flex;
				margin-top: 25px;
				.icon-container {
					width: 90px;
					height: 90px;
					margin: 0 auto;
					border-radius: 50%;
					line-height: 2;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #3278ae;
					color: #ffffff;
					position: relative;
					.icon {
						font-size: 40px;
					}
					&:before {
						content: "";
						position: absolute;
						top: 90px;
						height: 25px;
						width: 2px;
						background-color: #3278ae;
					}
				}
				.step-content {
					width: 350px;
					text-align: left;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-right: 20px;
					.headline {
						font-weight: 600;
						font-size: 24px;
						margin-bottom: 5px;
					}
				}
				&:last-child {
					.icon-container {
						&:before {
							width: 0;
						}
					}
				}
			}
		}
	}

	.start-explore-component {
		.widgetContainer {
			padding: 30px;
		}

		.start-explore-heading {
			font-size: 30px;
			font-weight: 600;
			line-height: 24px;
		}

		.start-explore-subheading {
			font-size: 18px;
		}

		.start-explore-accordian-head {
			margin: none;
			padding: 20px 15px;

			p {
				display: inline;
			}

			.down-arrow-icon {
				display: inline-right;
				float: right;
			}
		}
	}

	.topbar-buttons {
		line-height: normal !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		.start-upgrade-btn {
			background: linear-gradient(277.21deg, #f2b4f7 7.18%, #b8e8ff 90.87%);
			box-shadow: 0.333333px 0.333333px 3.33333px 2.66667px rgba(0, 0, 0, 0.07);
			border-radius: 21px;
			padding: 8px 50px;
			top: 5px;
			border: none;
			font-weight: 600;
		}

		.start-upgrade-btn:hover {
			background: linear-gradient(221deg, rgba(188, 230, 255, 1) 7.18%, rgba(188, 230, 255, 1) 90.87%);
			transition: background 1s ease-in-out;
		}

		.start-profile-logo {
			background: none;
			border: none;

			.start-profile-logo-small-svg svg,
			.start-profile-logo-small {
				width: 40px;
				height: auto;
				border-radius: 50%;
				border: 1px solid #dddddd;
			}

			.start-profile-logo-big-svg svg,
			.start-profile-logo-big {
				width: 72px;
				height: auto;
				margin-left: 10px;
				margin-bottom: 27px;
				border-radius: 50%;
				border: 1px solid #dddddd;
				align-self: center;
			}
		}

		.start-profile-popup {
			display: none;
			position: absolute;
			top: 70px;
			right: 0;
			width: 245px;
			padding: 20px;
			background-color: white;
			box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.12);
			border-radius: 4px;
			flex-direction: column;

			.start-profile-name {
				font-weight: 600;
				font-size: 16px;
				margin: 0 0 9px 0;
			}

			.start-profile-email,
			.start-profile-mobile-user-type {
				font-size: 14px;
				margin: 0 0 9px 0;
			}
		}

		.start-profile-logo:hover {
			.start-profile-popup {
				display: flex;
			}
		}
	}

	.start-feature-carousel-container,
	.start-promotional-carousel-container,
	.start-track-articles {
		.box {
			padding: 30px;

			.carousel {
				overflow: hidden;

				&-content-wrapper {
					position: relative;
				}

				&-inner {
					white-space: nowrap;
					transition: transform 0.3s;
					cursor: pointer;
				}

				&-item {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 100%;
				}

				.banner-image {
					border-radius: 5px;
					width: 100%;
					height: auto;
				}

				&-controllers {
					button {
						background: #dddddd;
						border: none;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						margin: 0 5px;
					}

					button.active {
						background: #0079b3 !important;
					}
				}

				&-next-btn,
				&-prev-btn {
					display: none;
					opacity: 0;
					position: absolute;
					top: 50%;
					right: 0;
					z-index: 3;

					button {
						background: rgba(255, 255, 255, 0.37);
						border: none;
						border-radius: 50%;
						padding: 1px 8px;
						font-weight: 600;
						font-size: 22px;
						color: rgba(0, 0, 0, 0.37);
						box-shadow: 0 0 10px 0 #cccccc;
					}
				}

				&-content-wrapper:hover {
					.carousel-next-btn,
					.carousel-prev-btn {
						display: block;
						opacity: 1;
						animation: fadeInOut 0.3s ease-in-out;
					}

					@keyframes fadeInOut {
						0% {
							display: none;
							opacity: 0;
						}
						1% {
							display: block;
							opacity: 0;
						}
						100% {
							display: block;
							opacity: 1;
						}
					}
				}

				&-prev-btn {
					left: 0;
					right: initial;
				}
			}
		}
	}

	.start-promotional-carousel-container {
		.box {
			padding: 0;

			.carousel-controllers {
				margin-top: -5px;
				margin-bottom: 10px;
			}
		}
	}

	.start-quick-links-container {
		.box {
			padding: 30px;

			.edit-icon {
				margin-left: 5px;
			}
		}
	}

	.start-track-articles {
		.box {
			padding: 30px;
		}
	}

	.impress-templates-head {
		width: 100%;
		height: 350px;
		margin: $topbar-height auto 60px auto;
		text-align: center;
		background: $color-primary;
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;

		.steps-container {
			position: relative;
			width: 100%;
			max-width: 1110px;
			padding: 0 80px;
			display: flex;
			justify-content: center;

			&:before {
				position: absolute;
				top: 50px;
				left: 180px;
				right: 180px;
				height: 1px;
				background: #90b9fb;
				content: " ";
			}

			.step {
				position: relative;
				width: 300px;

				&:not(:last-child) {
					margin-right: 120px;
				}

				.icon-container {
					width: 100px;
					height: 100px;
					margin: 0 auto;
					border-radius: 50%;
					line-height: 2;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #0994d7;

					.icon {
						font-size: 40px;
					}
				}

				.headline {
					margin: 22px 0 15px 0;
					font-size: 24px;
					font-weight: 600;
				}

				.text {
					font-size: 15px;
					line-height: 1.6em;
				}
			}
		}
	}

	.template-separator {
		border-top: 1px dotted #bec6ca;
		padding-bottom: 12px;
	}

	.start-groflex-templates-wrapper {
		.templates-column {
			position: relative;
			width: 31%;
			max-width: 350px;
			height: 308px;
			margin-right: 3.5%;
			margin-bottom: 3.5%;
			text-align: center;
			background: #ffffff;
			// border-radius: 8px;
			float: left;
			overflow: hidden;
			box-sizing: border-box;
			box-shadow: 0px 0px 10px 0px #cccccc;

			&:nth-child(3n) {
				margin-right: 0;
			}

			&.no-hover {
				.preview-image {
					cursor: default;
				}
			}

			&:not(.no-hover):hover {
				.preview-image {
					&:before {
						opacity: 0.4;
					}

					.button {
						opacity: 1;
					}
					.imprezz-template-button-div {
						opacity: 1;
					}
					.own-template-preview {
						opacity: 0;
					}
				}
			}
			.imprezz-template-button-div {
				position: absolute;
				top: 50%;
				right: 0;
				left: 0;
				width: 100%;
				padding: 0px 15px;
				z-index: 2;
				display: flex;
				align-items: center;
				margin-top: -18px;
				justify-content: space-between;
				opacity: 0;
			}
			.admin-btn-release {
				position: absolute;
				top: 10px;
				right: 8px;
				display: flex;
				width: 130px;
				height: 25px;
				padding: 0 6px;
				font-size: 13px;
				background: $color-primary;
				border-radius: 12px;
				z-index: 2;
				align-items: center;
				justify-content: space-between;

				.toggleSwitch {
					margin-top: 5px;
					padding-bottom: 0;
					transform: scale(0.8);
				}
			}

			.admin-btn-upload-thumbnail {
				position: absolute;
				top: 40px;
				right: 8px;
				width: 180px;
				height: 25px;
				padding: 0 6px;
				font-size: 13px;
				background: $color-primary;
				border-radius: 12px;
				z-index: 2;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.icon {
					font-size: 18px;
					margin: 5px 10px 0 0;
				}
			}

			&.create-own-template {
				cursor: pointer;

				.icon {
					width: 174px;
					height: 174px;
					margin: 40px auto 25px auto;
					background: #f6f6f6;
					border-radius: 50%;
					font-size: 50px;
					color: $color-primary;
					display: flex;
					justify-content: center;
					align-items: center;

					&:before {
						transform: rotate(45deg);
					}
				}

				.title {
					font-size: 14px;
					font-weight: 600;
				}
			}

			.preview-image {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				background-repeat: no-repeat;
				background-position: top center;
				background-size: cover;
				cursor: pointer;
				// display: flex;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: #ffffff;
					opacity: 0;
					content: " ";
					transition: opacity 0.2s ease-in-out;
				}

				&.custom-template,
				&.admin-template {
					background-color: $color-primary;
					color: #ffffff;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.button-component-wrapper {
					// width: 150px;

					.button {
						opacity: 0;
						transition: opacity 0.2s ease-in-out;
						font-size: 12px;
						padding: 0 13px 10px 20px;
						display: flex;
						//align-items: center;
						line-height: 34px;
					}
				}
			}

			.footer {
				height: 74px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.title {
					width: 100%;
					margin-right: 15px;
					padding-left: 20px;

					&.outlined.outlined-focus::before,
					&.outlined:hover::before {
						margin: -5px -5px -5px 10px;
					}

					.form_input {
						.input_bar,
						.input_label {
							display: none;
						}

						input {
							width: 100%;
							height: auto;
							padding-top: 0;
							border: 1px solid transparent;
							font-size: 16px;
							font-weight: 600;
							@include truncate-text();
						}
					}
				}

				.icons {
					margin-right: 20px;
					transition: opacity 0.2s ease-in-out;
					display: flex;

					.icon {
						font-size: 18px;
						line-height: 18px;
						color: #5b5b5b;
						cursor: pointer;
						transition: opacity 0.2s ease-in-out;

						&:hover {
							&:before {
								opacity: 0.7;
							}
						}

						&:not(:first-child) {
							margin-left: 18px;
						}

						&.icon-duplicate,
						&.icon-trashcan {
							font-size: 16px;
						}

						&.icon-edit {
							font-size: 14px;
						}
					}
				}
			}
		}

		.large-column-width {
			width: 50%;
			max-width: 500px;
			margin-bottom: 1.5%;
			position: relative;
			min-height: 308px;
			margin-right: 4.7%;
			text-align: center;
			background: #ffffff;
			//border-radius: 8px;
			float: left;
			overflow: hidden;
			box-sizing: border-box;
			box-shadow: 0px 0px 10px 0px #cccccc;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&.no-hover {
				.large-template-preview {
					cursor: default;
				}
			}

			&:not(.no-hover):hover {
				.large-template-preview {
					&:before {
						opacity: 0.4;
					}

					.button {
						opacity: 1;
					}
					.imprezz-template-button-div {
						opacity: 1;
					}
				}
			}

			.general-template {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				cursor: pointer;
				background: $color-primary;
			}
			.standard-quotation-template {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				cursor: pointer;
				background: $color-secondary;
			}
			.general-template-icon {
				font-size: 77px;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 76px;
			}
			.other-template-icon {
				font-size: 77px;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 76px;
			}
			.imprezz-template-button-div {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: -53px;
				opacity: 0;
				margin-left: 21px;

				.button {
					margin-right: 18px;
				}
			}
			.title {
				padding-left: 20px !important;
				width: unset !important;
				font-weight: 600;
			}

			.large-template-preview {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				background-repeat: no-repeat;
				background-position: top center;
				background-size: cover;
				cursor: pointer;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: #ffffff;
					opacity: 0;
					content: " ";
					transition: opacity 0.2s ease-in-out;
				}

				&.custom-template,
				&.admin-template {
					background-color: $color-primary;
					color: #ffffff;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.create-offer-button {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 225px;
					opacity: 0;
					transition: opacity 0.2s ease-in-out;
				}
			}

			.footer {
				height: 74px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.title {
					width: 100%;
					margin-right: 15px;
					padding-left: 20px;

					&.outlined.outlined-focus::before,
					&.outlined:hover::before {
						margin: -5px -5px -5px 10px;
					}

					.form_input {
						.input_bar,
						.input_label {
							display: none;
						}

						input {
							width: 100%;
							height: auto;
							padding-top: 0;
							border: 1px solid transparent;
							font-size: 16px;
							font-weight: 600;
							@include truncate-text();
						}
					}
				}

				.icons {
					margin-right: 20px;
					transition: opacity 0.2s ease-in-out;
					display: flex;

					.icon {
						font-size: 18px;
						line-height: 18px;
						color: #5b5b5b;
						cursor: pointer;
						transition: opacity 0.2s ease-in-out;

						&:hover {
							&:before {
								opacity: 0.7;
							}
						}

						&:not(:first-child) {
							margin-left: 18px;
						}

						&.icon-duplicate,
						&.icon-trashcan {
							font-size: 16px;
						}

						&.icon-edit {
							font-size: 14px;
						}
					}
				}
			}
		}

		.general-template-column-width {
			position: relative;
			width: 31%;
			max-width: 350px;
			height: 340px;
			margin-right: 3.5%;
			margin-bottom: 3.5%;
			text-align: center;
			background: #ffffff;
			// border-radius: 8px;
			float: left;
			overflow: hidden;
			box-sizing: border-box;
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

			&:nth-child(3n) {
				margin-right: 0;
			}

			&.no-hover {
				.large-template-preview {
					cursor: default;
				}
			}

			&:not(.no-hover):hover {
				.large-template-preview {
					&:before {
						opacity: 0.4;
					}

					.button {
						opacity: 1;
					}
					.imprezz-template-button-div {
						opacity: 1;
					}
				}
			}

			.general-template {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				cursor: pointer;
				background: $color-primary;
			}
			.standard-quotation-template {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				cursor: pointer;
				background: $color-secondary;
			}
			.standard-invoice-template {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				cursor: pointer;
				background: #a9b2bb;
			}
			.general-template-icon {
				font-size: 77px;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 76px;
			}
			.imprezz-template-button-div {
				position: absolute;
				top: 50%;
				right: 0;
				left: 0;
				width: 100%;
				padding: 0px 15px;
				z-index: 2;
				display: flex;
				align-items: center;
				margin-top: -18px;
				justify-content: space-between;
				opacity: 0;
				.button {
					opacity: 0;
					transition: opacity 0.2s ease-in-out;
					font-size: 12px;
					padding: 0 13px 10px 20px;
					// display: flex;
					align-items: center;
					line-height: 34px;
				}
			}
			.title {
				padding-left: 20px !important;
				width: unset !important;
				font-weight: 600;
			}

			.large-template-preview {
				position: relative;
				width: 100%;
				height: 234px;
				text-align: center;
				background-repeat: no-repeat;
				background-position: top center;
				background-size: cover;
				cursor: pointer;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: #ffffff;
					opacity: 0;
					content: " ";
					transition: opacity 0.2s ease-in-out;
				}

				&.custom-template,
				&.admin-template {
					background-color: $color-primary;
					color: #ffffff;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.create-offer-button {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 225px;
					opacity: 0;
					transition: opacity 0.2s ease-in-out;
				}
			}

			.footer {
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;

				.title {
					width: 100%;
					margin-right: 15px;
					margin-top: 15px;
					padding-left: 20px;
					font-size: 17px;

					&.outlined.outlined-focus::before,
					&.outlined:hover::before {
						margin: -5px -5px -5px 10px;
					}

					.form_input {
						.input_bar,
						.input_label {
							display: none;
						}

						input {
							width: 100%;
							height: auto;
							padding-top: 0;
							border: 1px solid transparent;
							font-size: 16px;
							font-weight: 600;
							@include truncate-text();
						}
					}
				}

				.icons {
					margin-right: 20px;
					transition: opacity 0.2s ease-in-out;
					display: flex;
					margin-top: 15px;

					.icon {
						font-size: 18px;
						line-height: 18px;
						color: #5b5b5b;
						cursor: pointer;
						transition: opacity 0.2s ease-in-out;

						&:hover {
							&:before {
								opacity: 0.7;
							}
						}

						&:not(:first-child) {
							margin-left: 18px;
						}

						&.icon-duplicate,
						&.icon-trashcan {
							font-size: 16px;
						}

						&.icon-edit {
							font-size: 14px;
						}
					}
				}

				.flex-break {
					flex-basis: 100%;
					height: 0;
				}

				.title-description {
					padding-left: 20px !important;
					text-align: left;
					font-size: 14px;
				}
			}
		}
	}

	.dashboard-quick-buttons {
		height: 90px;
		padding: 26px 0 26px 0 !important;
		display: flex;

		.box-header {
			@include rem(padding-left, 40);
			@include rem(padding-right, 45);
			line-height: 38px;
		}

		.box-content {
			display: flex;
			margin-left: auto !important;

			.button-component-wrapper {
				margin-right: 36px;

				.button-rounded {
					padding: 0 30px;

					// .icon {
					// 	&:before {
					// 		vertical-align: middle !important;
					// 	}
					// }
				}
			}

			&.small-button-margin {
				.button-component-wrapper:not(:last-child) {
					margin-right: 22px;
				}
			}

			.referral-btn {
				padding: 0 20px;
				background: $color-success;

				&:hover {
					background: darken($color-success, 10%);
				}

				.icon-people {
					font-size: 24px;
					line-height: 32px;
				}
			}

			.progress-container {
				height: 60px;
				margin-right: 80px;
				.progress-text {
					font-size: 16px;
					color: $color-primary;
				}

				.progress-bar-outer {
					margin-top: 5px;
					height: 5px;
					width: 150%;
					background-color: $color-line-light;

					.progress-bar {
						display: block;
						height: 100%;
						background-color: $color-primary;
					}
				}
			}
		}
	}
}

.start-impress-templates-loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	@include breakpoint-lg {
		@include rem(left, $menu-width);
	}

	@include breakpoint-md {
		@include rem(left, $menu-small-width);
	}
}

//Design changes

.outlined-button {
	transition: 0.1s all ease-in-out;
	border: 1px solid $color-primary !important;
	color: $color-primary !important;
	border-radius: 4px !important;
	padding: 9px 24px !important;
	font-weight: 600 !important;
	cursor: pointer !important;
	&:hover {
		background-color: $color-primary !important;
		color: #ffffff !important;
	}
}

.homepage-welcome-carousel-box-container {
	.box {
		padding: 0 !important;
	}
	.slick-arrow {
		z-index: 1 !important;
	}
	.slick-dots {
		bottom: 4px !important;
	}
	.slick-next {
		right: 10px !important;
	}
	.slick-prev {
		left: 10px !important;
	}
	.slick-dots li.slick-active button:before {
		color: $color-primary !important;
	}
}

.slick-next:before {
	color: #c6c6c6 !important;
}
.slick-prev:before {
	color: #c6c6c6 !important;
}

.welcome-carousel-div {
	position: relative;
	height: 217px !important;
	width: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex !important;
	h3 {
		font-weight: 700;
	}
	align-items: center !important;
}

// .welcome1 {
// 	background-image: url("../../../../assets/images/homePage/Banner1.png");
// }
// .welcome2 {
// 	background-image: url("../../../../assets/images/homePage/Banner2.png");
// }
// .welcome3 {
// 	background-image: url("../../../../assets/images/homePage/Banner3.png");
// }
// .welcome4 {
// 	background-image: url("../../../../assets/images/homePage/Banner4.png");
// }
// .welcome5 {
// 	background-image: url("../../../../assets/images/homePage/Banner5.png");
// }

.welcome1 {
	background-image: url("/assets/images/homePage/Banner1.png");
}
.welcome2 {
	background-image: url("/assets/images/homePage/Banner2.png");
}
.welcome3 {
	background-image: url("/assets/images/homePage/Banner3.png");
}
.welcome4 {
	background-image: url("/assets/images/homePage/Banner4.png");
}
.welcome5 {
	background-image: url("/assets/images/homePage/Banner5.png");
}

.welcome1-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 50%;
	margin-bottom: 2%;
	margin-right: 125px;
}

.welcome2-content {
	h3 {
		margin-bottom: 0 !important;
	}
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 47%;
	margin-right: 125px;
	margin-bottom: 3%;
}
.welcome3-content,
.welcome4-content,
.welcome5-content {
	h3 {
		margin-bottom: 0 !important;
	}
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 23%;
	margin-right: 455px;
	margin-bottom: 3%;
}
.welcome5-content {
	margin-left: 22%;
	margin-right: 498px;
}

.quick-link-row {
	gap: 21px 30px;
	.quick-link-item {
		user-select: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 225px;
		max-height: 70px;
		border: 1px solid #dddddd;
		border-radius: 8px;
		padding: 16px;
		span {
			margin-right: 10px;
		}
		p {
			margin-top: 0, marginBottom;
		}
	}
}
.start-quick-links-container {
	edit-icon {
		color: $color-primary !important;
	}
}

.homepage-coming-soon-container {
	.box {
		padding: 30px !important;
	}
	.coming-soon-content {
		display: flex;
		.coming-soon-image-container {
			width: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;

			h3 {
				font-weight: 700;
				margin: 0px 0 30px 0;
			}
			.coming-soon-image {
				height: 190px;
				object-fit: contain;
			}
		}
		.coming-soon-carousel-container {
			width: 70%;
			.slick-arrow {
				z-index: 1 !important;
			}
			.slick-next {
				right: 8px !important;
			}
			.slick-prev {
				left: 8px !important;
			}
			.slick-dots {
				bottom: 4px !important;
			}
			.slick-dots li.slick-active button:before {
				color: $color-primary !important;
			}
			.coming-soon-carousel-item {
				width: 100% !important;
				background-color: #f1f8fb;
				display: flex !important;
				padding: 25px 25px 30px 25px;
				img {
					height: 218px;
				}
				h5 {
					font-weight: 600 !important;
					margin: 10px 0 10px 0 !important;
				}
				p {
					color: #888787;
					font-size: 14px;
				}
				.coming-soon-info-container {
					margin-left: 20px !important;
					// display: flex;
					// flex-direction: column;
					// justify-content: center;
				}
			}
		}
	}
}
