<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Groflex</title>
		<meta charset="utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="expires" content="-1" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut ico" href="/assets/images/favicon.ico" />
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
		<link
			href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic,700,700italic"
			rel="stylesheet"
		/>

		<link href="/css/app.css" rel="stylesheet" />

		<style>
			.async-hide {
				opacity: 0 !important;
			}
		</style>

		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script>
			WebFont.load({
				google: {
					families: [
						'Caveat:400,700',
						'Dancing Script:400,700',
						'Economica:400,700',
						'Gruppo:400',
						'Kalam:300,700',
						'Merriweather Sans:400,700',
						'Open Sans Condensed:300,700',
						'PT Sans Narrow:400,700',
						'Shadows Into Light:400',
						'Source Serif Pro:400,700,400italic,700italic',
						'Tulpen One:400',
						'Voltaire:400'
					]
				}
			});
		</script>

		@@if (releaseStage === 'local') {
		<script>
			window.settings = {
				releaseStage: 'local'
			};
		</script>
		}

		<!-- Intercom -->
		<!-- @@if (releaseStage === 'production') {
			<script>const INTECOM_APP_ID = 'flyfsv5l';</script>
		}
		@@if (releaseStage === 'staging' || releaseStage === 'qa' || releaseStage === 'local' || releaseStage === 'development') {
				<script>const INTECOM_APP_ID = 'azrlzv5b';</script>
		}
		<script>
				window.intercomSettings = {
						app_id: INTECOM_APP_ID
				};
				(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/' + INTECOM_APP_ID;var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
		</script> -->
		<!-- End of Intercom -->


		<!-- Production -->
		@@if (releaseStage === 'production' || releaseStage === 'qa' ) {
		<!-- Google Tag Manager -->
		<script>
			dataLayer = [];
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
			var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
			})(window,document,'script','dataLayer','GTM-NJ796K9');
		</script>
		<!-- End Google Tag Manager -->
		<!-- Taboola Pixel Code -->
		<script src="https://cdn.taboola.com/libtrc/unip/1291642/tfa.js"></script>
		<noscript>
			<img src="https://trc.taboola.com/1291642/log/3/unip?en=complete_registration" width="0" height="0" style="display:none"/>
		</noscript>
		<!-- End of Taboola Pixel Code -->
		}

		<!-- Iconfont -->
		<!-- || releaseStage === 'development' || releaseStage === 'local' -->
		<!-- Amplitude -->
		@@if (releaseStage === 'production' || releaseStage === 'qa') {
		<script type="text/javascript">
			(function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
			;r.type="text/javascript"
			;r.integrity="sha384-+EO59vL/X7v6VE2s6/F4HxfHlK0nDUVWKVg8K9oUlvffAeeaShVBmbORTC2D3UF+"
			;r.crossOrigin="anonymous";r.async=true
			;r.src="https://cdn.amplitude.com/libs/amplitude-8.17.0-min.gz.js"
			;r.onload=function(){if(!e.amplitude.runQueuedFunctions){
			console.log("[Amplitude] Error: could not load SDK")}}
			;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
			;function s(e,t){e.prototype[t]=function(){
			this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
			var o=function(){this._q=[];return this}
			;var a=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove"]
			;for(var c=0;c<a.length;c++){s(o,a[c])}n.Identify=o;var u=function(){this._q=[]
			;return this}
			;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
			;for(var p=0;p<l.length;p++){s(u,l[p])}n.Revenue=u
			;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","enableTracking","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
			;function v(e){function t(t){e[t]=function(){
			e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
			for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
			e=(!e||e.length===0?"$default_instance":e).toLowerCase()
			;if(!Object.prototype.hasOwnProperty.call(n._iq,e)){n._iq[e]={_q:[]};v(n._iq[e])
			}return n._iq[e]};e.amplitude=n})(window,document);
		  
			amplitude.getInstance().init("eb8228344cf780e7c357b9dcd154d879");
		  </script>
		}
		<!-- Amplitude -->
		
		@@if (releaseStage !== 'local') {
		<link href="/css/iconfont.css" rel="stylesheet" />
		}		
		@@if (releaseStage === 'production' ) {
		<!-- Sendinblue -->
			<script type="text/javascript">
				(function() {
					window.sib = {
						equeue: [],
						client_key: "0g3hqpvpknum1y5ip9cuk4nt"
					};
					/* OPTIONAL: email for identify request*/
					// window.sib.email_id = 'example@domain.com';
					window.sendinblue = {};
					for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
					(function(k) {
						window.sendinblue[k] = function() {
							var arg = Array.prototype.slice.call(arguments);
							(window.sib[k] || function() {
									var t = {};
									t[k] = arg;
									window.sib.equeue.push(t);
								})(arg[0], arg[1], arg[2], arg[3]);
							};
						})(j[i]);
					}
					var n = document.createElement("script"),
						i = document.getElementsByTagName("script")[0];
					n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
				})();
			</script>
		<!-- /Sendinblue -->
		}
	</head>

	<body spellcheck="false">
		@@if (releaseStage === 'production') {
			<!-- Google Tag Manager (noscript) -->
			<noscript>
				<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ796K9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
			</noscript>
			<!-- End Google Tag Manager (noscript) -->
		}
		<div id="root" class="app"></div>
		<div id="app-loader" class="loader loader-opaque">
			<div class="loader_content">
				<div class="critical_logo">
					<img src="/assets/images/svg/groflex.svg" width="138" />
				</div>
				<div class="loader_spinner"></div>
			</div>
		</div>
		<script src="/js/app.js"></script>
		<div class="app-version" id="app-version" data-qs-id="app-version">1.0.0</div>		
	</body>
</html>
